body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card li {
  font-style: normal;
  color:#444;
  font-size: large;
}

.card {
  background-color: #FFF;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px #555;
}

.chart-container {
  width: 80%;
  height: 480px;
  margin: 0 auto;
}